:root {
    --blue:#000D3A;
    --cyan: #2FC7A1;
    --gray: #F9F8FE;
    --medium-gray: #858796;
    --dark-gray: #333333;
    --light-gray: #F2F2F2;
    --gray-subtitle: #7E7E7E;
    --black-title: #1E1E2C;
    --dark-green: #27AE60;
    --light-green: #2ECC71;
    --stars: #F39C12;
    --dark-purple: #551A8B;
    --medium-purple: #6A49F2;
    --footer-bg: #101014;
    --circle-bg: #3B3B3B;
    --orange: #FE543D;

    --title-size: 32rem;
    --subtitle-size: 24rem;
    --text-size: 16rem;

    --Sora: 'Sora', -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --Epilogue: 'Epilogue', Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: sans-serif;
    font-size: 6.25%; /* 1rem = 1px */
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: var(--text-size);
    font-weight: 400;
    line-height: 1.5;
    color: var(--medium-gray);
    text-align: left;
    background-color: var(--gray);
}

main {
    display: block;
}

h1 {
    font-size: 20rem;
    margin: 0.67em 0;
}

/* h2 {
    margin-inline-start: 0;
    margin-block-start: 0;
} */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    background-color: transparent;
}

img {
    max-width: 100%;
    display: block;
    border-style: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    background-color: transparent;
    -webkit-appearance: button;
}