.header {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky;

    width: 100%;
    height: 80rem;

    background-color: #f1f0f0ea;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 100%;
}

.nav-logo img {
    border: 2px solid cyan;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 40rem;

    width: 100%;
    height: 100rem;
    padding: 0 20rem 0 0;
}

#btn-signout {
    background-color: var(--cyan);
    border: var(--blue) 1px solid;
    border-radius: 8rem;
    padding: 10rem 20rem;

    font-family: var(--Sora);
    font-size: var(--text-size);
    font-weight: 500;
    color: var(--blue);
}

.user-icon:hover {
    z-index: 2;
    content: url('../../assets/icons/user-cyan.png');
    border: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
}

.nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 15%;

    width: 100%;
    height: 100%;
}

.list-item a {
    font-family: var(--Sora);
    font-size: var(--text-size);
    font-weight: 400;
    color: var(--blue);
}

/* HERO SECTION */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 375rem;

    background-image:
        linear-gradient(rgba(0, 13, 58, 0.85) 100%),
        url('../../assets/images/library.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;

    width: calc(100% - 400rem);
    height: 100%;

    color: white;
}

.hero-content-span {
    font-family: var(--Sora);
    font-size: var(--subtitle-size);
    font-weight: 350;
    text-align: center;

    margin: 10rem 0;

    color: var(--orange);
}

.hero-content-title {
    justify-self: flex-start;

    font-family: var(--Sora);
    font-size: 58rem;
    font-weight: 700;

    margin: 20rem 0 50rem 0;

    text-align: center;
    word-wrap: break-word;
    line-height: 1.2;
}

.resaltado {
    color: var(--cyan);
}

.hero-content-paragraph {
    font-family: var(--Sora);
    font-size: 18rem;
    font-weight: 300;
    text-align: center;

    margin: 10rem 0 50rem 0;

    color: #F2F2F2;
}

.hero-searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 500rem;
    height: 60rem;

    background-color: var(--light-gray);
    border-radius: 30rem;
}

.hero-searchbar-input {
    width: 100%;
    height: 100%;
    padding: 20rem;

    font-family: var(--Sora);
    font-size: var(--text-size);
    font-weight: 400;

    border: none;
    border-radius: 30rem;
}

.hero-searchbar-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(47, 199, 161, 0.5);
}

.hero-searchbar-input::placeholder {
    color: #A0A0A0;
    font-style: italic;
}

.hero-searchbar span {
    display: inline-block;
    width: 60rem;
    height: 60rem;

    background-image: url('../../assets/icons/search-icon.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    background-color: var(--cyan);
    border-radius: 30rem;

    padding: 10rem 0;
    cursor: pointer;
}

/* MAIN SECTION*/

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--light-gray);
}

.section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    margin-bottom: 20rem;
}

.section-header div {
    display: flex;
    justify-content: space-between;
    height: 80rem;
}

.course-section {
    padding: 60rem 20rem;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.section-subtitle {
    align-self: flex-start;

    font-family: var(--Sora);
    font-weight: 400;
    font-size: 20rem;
    border: 10rem solid #E9E2FF;
    background-color: #E9E2FF;
    border-radius: 8rem;
    text-transform: uppercase;
    color: #704FE6;

    margin-bottom: 10rem;
}

.section-title {
    font-family: var(--Epilogue);
    font-size: var(--title-size);
    font-weight: bold;
    color: var(--black-title);

    margin-bottom: 40rem;
}

.course-btn {
    align-items: center;

    width: 100%;
    max-width: 300rem;
    height: 50rem !important;
    padding-left: 25rem;

    font-family: var(--Sora);
    color: white;
    font-size: var(--subtitle-size);
    font-weight: 400;
    background-color: #704FE6;
    border-radius: 25rem;
}

.course-btn-arrow {
    display: inline-block;
    width: 50rem;
    height: 50rem;

    background-image: url('../../assets/icons/right-arrow.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    background-color: #785DD7;
    border-radius: 25rem;

    padding: 10rem 0;
    cursor: pointer;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    overflow-x: auto;
    white-space: nowrap
}

.course-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-align: left;
}

.course-image {
    position: relative;
    height: 180px;
    background-color: #ddd;
}

.course-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: var(--light-green);
    color: white;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 4px;
}

.course-content {
    padding: 20px;
}

.rating-price {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: var(--stars);
    margin-bottom: 10px;
}

.course-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--dark-gray);
}

.course-info {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    color: #777;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.course-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instructor {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    color: #555;
}

.instructor-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #bbb;
}

.price-cart {
    text-align: right;
    font-size: 14px;
}

.price-cart .price {
    display: block;
    font-weight: bold;
    color: var(--dark-gray);
}

.price-cart s {
    color: #999;
    font-size: 13px;
}

.cart {
    font-size: 13px;
    color: var(--dark-gray);
}



/* FOOTER */

.footer {
    background: var(--footer-bg);
    color: var(--gray);
    padding: 40px 20px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30rem;
    max-width: 1200rem;
    margin: auto;
}

.footer-about {
    max-width: 300rem;
}

.logo {
    font-size: var(--subtitle-size);
    color: white;
    margin-bottom: 10rem;
}

.footer-about p {
    font-size: var(--text-size);
    line-height: 1.6;
}

.social-icons {
    display: flex;
    gap: 10px;

    margin-top: 15rem;
}

.circle {
    width: 32rem;
    height: 32rem;
    background: var(--circle-bg);
    border-radius: 50%;
}

/* FOOTER */

.footer-services h4,
.footer-subscribe h4 {
    margin-bottom: 10rem;

    color: white;
}

.footer-services ul {
    list-style: none;
    padding: 0;
    font-size: var(--text-size);
}

.footer-services li {
    margin-bottom: 8rem;
}

.footer-services li a {
    color: var(--gray);
    text-decoration: none;
}

.footer-subscribe input {
    width: 200rem;

    padding: 10rem;
    margin-bottom: 10rem;

    border: none;
    border-radius: 4rem;
}

.footer-subscribe button {
    background: var(--cyan);
    color: white;
    padding: 10rem 18rem;
    border: none;
    border-radius: 4rem;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    margin-top: 40rem;
    border-top: 1px solid #333;
    padding-top: 15rem;
    font-size: var(--text-size);
    color: var(--light-gray);
}

.footer-bottom .brand {
    color: var(--cyan);
}